# Date Time Feature Engineering
## Pandas

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.date.html

In [47]:
import pandas as pd

# Create a dictionary with dates
data = {'Date': ['2023-08-04', '2023-08-05', '2023-08-06'], 
        'Value': [100, 200, 300]}

# Create a pandas dataframe from the dictionary
df = pd.DataFrame.from_dict(data)

# Convert Date to Datetime format.
df['Date'] = pd.to_datetime(df.Date, format='%Y-%m-%d %H:%M:%S')

# Print the dataframe
df

        Date  Value
0 2023-08-04    100
1 2023-08-05    200
2 2023-08-06    300

In [48]:
# Feature Engineering
df.loc[:,'year'] = df['Date'].dt.year  
df['Week_Number'] = df['Date'].dt.isocalendar().week # ISO years always start on a Monday.
df.loc[:,'weekofyear'] = df['Date'].dt.strftime('%U') # Default starts on Sunday.
df.loc[:,'month'] = df['Date'].dt.month  
df.loc[:,'dayofweek'] = df['Date'].dt.dayofweek # Monday = 0 and Sunday = 6
df.loc[:, 'weekend'] = (df.Date.dt.weekday >=5).astype(int)  
df.loc[:, 'hour'] = df['Date'].dt.hour

# Print the dataframe
df

,Date,Value,year,Week_Number,weekofyear,month,dayofweek,weekend,hour
0,2023-08-04,100,2023,31,31,8,4,0,0
1,2023-08-05,200,2023,31,31,8,5,1,0
2,2023-08-06,300,2023,31,32,8,6,1,0

In [45]:
import pandas as pd  

#create a series of datetime with a frequency of 10 hours  
s = pd.date_range('2020-01-06', '2020-01-10', freq='10H').to_series()  

#create some features based on datetime  
features = {  
            "dayofweek": s.dt.dayofweek.values,  
            "dayofyear": s.dt.dayofyear.values,  
            "hour": s.dt.hour.values,  
            "is_leap_year": s.dt.is_leap_year.values,  
            "quarter": s.dt.quarter.values,  
            "weekofyear": s.dt.isocalendar().week  
            } 

# Create a pandas dataframe from the dictionary
df = pd.DataFrame.from_dict(features)

df

,dayofweek,dayofyear,hour,is_leap_year,quarter,weekofyear
2020-01-06 00:00:00,0,6,0,True,1,2
2020-01-06 10:00:00,0,6,10,True,1,2
2020-01-06 20:00:00,0,6,20,True,1,2
2020-01-07 06:00:00,1,7,6,True,1,2
2020-01-07 16:00:00,1,7,16,True,1,2
2020-01-08 02:00:00,2,8,2,True,1,2
2020-01-08 12:00:00,2,8,12,True,1,2
2020-01-08 22:00:00,2,8,22,True,1,2
2020-01-09 08:00:00,3,9,8,True,1,2
2020-01-09 18:00:00,3,9,18,True,1,2